.list-post {
    display: flex;

    li {
        background-color: rgb(63, 81, 181);
        border-radius: 0.5rem;
        height: 300px;
        margin-bottom: 0.5rem;
        width: 100%;
        font-size: 20px;
        color: white;
        display: flex;
        opacity: 0.7;
        align-items: center;
        justify-content: center;

        a {
            color: white;
        }
        a:hover {
           color: #272727;
           opacity: 0.9;
        }
    }
}